<!DOCTYPE html>
<html lang="en">
    <body>

        <app-header></app-header>

        <main>
            <section class="inspire bg-warning" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <article>
                                <h2>Inspire your inspiration</h2>


                                <app-servers></app-servers>



                                <p class="lead">
                                    Simple to yous for your apps, products showcase
                                    and your inspiration
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit
                                </p>
                                <div class="social h1 ">
                                    <a href="#">
                                        <span class="fa fa-apple text-dark"></span>
                                    </a>
                                    <a href="#">
                                        <span class="fa fa-android text-dark"></span>
                                    </a>
                                    <a href="#">
                                        <span class="fa fa-windows text-dark"></span>
                                    </a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <figure class="text-center">
                                <img class="d-inline-block" src="img/telefon.jpg" alt=""/>
                            </figure>
                        </div>
                    </div>
                </div>
            </section><!--End of INSPIRE-->
            <section class="features">
                <div class="container">
                    <h2 class="text-center">Tinyone features</h2>
                    <p class="lead text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>

                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="row">
                                <div class="col-sm-3 mb-4 mb-sm-0">
                                    <article class="h1 text-center">
                                        <span class="fa fa-tablet text-dark"></span>
                                    </article>
                                </div>
                                <div class="col-sm-9">
                                    <h4>Fully Responsive</h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>



    </body>
</html>
